<h1>MOVIE RESULTS</h1>

<div class="">
  <h2> <%= @movie %> </h2>
  <ul>
  <% @result.each do |movie| %>
    <li><a href='<%= "movie_details/#{movie['Title']}" %>'><%= movie['Title'] %></a></li>
  <% end %>
</ul>
</div>
