<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Search</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="moviepics">
          <img src="http://hillcityprevailernews.com/wp-content/uploads/2017/01/Movie-Releases.jpg" alt="">
          <img src="http://www.quirindiroyaltheatre.com/wp-content/uploads/2015/11/movies-5.png" alt="">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDkh3eL-5VAlGaDhIkjBmR6v3Si2eneKdSuF75JMrjZVly4p4gkA" alt="">
        </div>
        <h1>MOVIE SEARCH</h1>

      </header>
      <%= yield %>

    </div>


  </body>
</html>
