.container {
  width:80%;
  text-align: center;
  margin: 0 auto;
  border:10px solid black;
  padding-bottom: 2em;

}

nav  {
  display : flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;

}

li {
  font-size:150%;
}

button, input, a {
  font-size:150%;
}
