<img src="http://is5.mzstatic.com/image/thumb/Purple118/v4/6e/fa/d5/6efad5c5-add5-9e7f-b384-21c292fc277b/source/1200x630bb.jpg" alt="">

<form class="" action="/teams" method="get">
  <button type="submit" >ENTER</button>
</form>
