<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Happytails</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Happy Tails</h1>
        <nav>
          <a href="display_animals">Display Animals</a>
          <a href="display_clients">Display Clients</a>
          <a href="adopt">Adopt</a>
          <a href="return">Return</a>

        </nav>
      </header>

      <%= yield %>

    </div>
  </body>
</html>
